.heading-text {
    padding: 150px 60px;
}

.heading-text h1{
    font-size: 106px;
    font-family: "Georgia", serif;
    font-weight: 400;
}

.heading-text p{
    display: block;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 20px;
}

.heading-text a{
    margin-top: 100px;
    text-decoration: none;
}

.sidebar{
    height: 300px;
    top: 100px;
    position: sticky;
}
